<ion-header>
  <ion-toolbar color="success">
    <ion-buttons defaultHref="/" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comfirmar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img [src]="bolo.imagem"></ion-img>
        <ion-card-header> Bolo escolhido </ion-card-header> 
        <ion-card-content> 
          <ion-card-title> {{ bolo.nome }}  </ion-card-title>
          <ion-card-subtitle> {{ bolo.descricao }} </ion-card-subtitle>
          <ion-note color="primary" slot="end" *ngIf="bolo.preco">{{ bolo.preco | currency: 'BRL' }}</ion-note>
        </ion-card-content>
      </ion-card>
<ion-card> 
  <ion-card-header> Dados Para Entrega </ion-card-header>
  <ion-card-content> 
    <ion-input>Nome: Mateus </ion-input>
    <ion-input>telefone: 9999999 </ion-input>
    <ion-input>Endereço: rua tal</ion-input>
  </ion-card-content>
    <ion-button  expand="full" (click)="confirma()"> Confirmar Pedido!</ion-button>
</ion-card>





</ion-content>