<ion-header>
  <ion-toolbar color ="success">
    <ion-title>Nossos Bolos</ion-title>
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
    <ion-list *ngFor="let bolo of bolos">
        <ion-item button [routerLink]="['/detalhes', bolo.id]">
        <ion-avatar slot="start">
          <img [src]="bolo.imagem">
        </ion-avatar>

        <ion-label>
          {{ bolo.nome }}
          <p>{{ bolo.descricao }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="bolo.preco">{{ bolo.preco | currency: 'BRL' }}</ion-note>
      </ion-item>

    </ion-list>
  </ion-content>
  
