<ion-header>

  <ion-toolbar color="success">
    <ion-buttons defaultHref="/" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="bolo.imagem"></ion-img>
    <ion-card-content> 
      <ion-card-title> {{ bolo.nome }}  </ion-card-title>
      <ion-card-subtitle> {{ bolo.descricao }} </ion-card-subtitle>
      <ion-note color="primary" slot="end" *ngIf="bolo.preco">{{ bolo.preco | currency: 'BRL' }}</ion-note>
    </ion-card-content>
    <ion-button  expand="full" [routerLink]="['/pedido',bolo.id]"> Pedir Esse bolo </ion-button>
  </ion-card>
</ion-content>